body {
    font-family:Helvetica, Arial, sans-serif  ;
}
h1 {
    text-align: center;
    margin-bottom: 0.5%;
}
ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
.details-bar {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.detail-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.4%;
    /* padding-left: 0%; */
}